<h3 class="text-center cart"> Your Cart </h3>
<table class="cart text-center">
  <%= render (cart.line_items) %>
  <tr class= "total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= number_to_currency(cart.total_price) %> </td>
  </tr>
</table>

