// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
      width: 240px;
      height: 160px;

    }
    
.col.well {
  min-height: 100px !important;
}

#cart {
    border-style: black solid 1px;
    border-left: thick double black;
    border-bottom: thick double black;
    padding-bottom: 10px;
}

.well {
    min-height: 180px !important;
}



// .store {
//   h1 {
//     margin: 0;
//     padding-bottom: 0.5em;
//     font-size: 14px;
//     font-family: sans-serif;
//     color: #226;
//     border-bottom: 3px dotted #77d;
//   }
  
//   .entry {
//     overflow: auto;
//     margin-top: 1em;
//     border-bottom: 1px dotted #77d;
//     min-height: 100px;
  
    
    
//     h3 {
//       font-size: 13px;
//       font-family: sans-serif;
//       margin-left: 100px;
//       margin-top: 0;
//       margin-bottom: 2px;
//       color: #227;
//     }
    
//     p, div.price_line {
//       margin-left: 100px;
//       margin-top: 0.5em;
//       margin-bottom: 0.8em;
      
//     }
    
//     .price {
//       color: #44a;
//       font-weight: bold;
//       margin-right: 3em;
      
//     }
//   }
// }
